<div class="container-fluid">
    <div class="row row-cols-md-3 row-cols-sm-2 row-cols-2" style="background-color: black">
        <div class="col-md-4 col-sm-6 s2-col">
            <div class="s2-img_text">BUKIETY</div>
            <img src="{{ asset('imgs/bukiety.jpg') }}" class="img-responsive s2-img" alt="Bukiety">
        </div>
        <div class="col-md-4 col-sm-6 s2-col">
            <div class="s2-img_text">BUKIETY ŚLUBNE</div>
            <img src="{{ asset('imgs/bukiety slubne.jpg') }}" class="img-responsive s2-img" alt="BukietySlubne">
        </div>
        <div class="col-md-4 col-sm-6 s2-col">
            <div class="s2-img_text">KOSZE OKOLICZNOŚCIOWE</div>
            <img src="{{ asset('imgs/kosze okolicznosciowe.jpg') }}" class="img-responsive s2-img"
                 alt="KoszeOkolicznosciowe">
        </div>
        <div class="col-md-4 col-sm-6 s2-col">
            <div class="s2-img_text">FLORYSTYKA POGRZEBOWA</div>
            <img src="{{ asset('imgs/florystyka pogrzebowa.jpg') }}" class="img-responsive s2-img"
                 style="object-position: top"
                 alt="FlorystykaPogrzebowa">
        </div>
        <div class="col-md-4 col-sm-6 s2-col">
            <div class="s2-img_text">DEKORACJE SAL</div>
            <img src="{{ asset('imgs/dekoracje sal.jpg') }}" class="img-responsive s2-img"
                 style="object-position: center right" alt="DekoracjeSal">
        </div>
        <div class="col-md-4 col-sm-6 s2-col">
            <div class="s2-img_text">POZOSTAŁE USŁUGI FLORYSTYCZNE</div>
            <img src="{{ asset('imgs/pozostale uslugi florystyczne.jpg') }}" class="img-responsive s2-img"
                 style="object-position: center left"
                 alt="PozostaleUslugiFlorystyczne">
        </div>
    </div>
</div>

{#col-md-4 col-sm-6#}